<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.selenium.gram.xtext.sirius.design.Activator"
               id="com.selenium.gram.xtext.sirius.design"
	       name="slndsl">
    </component>
  </extension>
</plugin>
